<!DOCTYPE html>
<html lang="es">

<head th:replace="layout/fragmentDashServ :: cabecera">
    
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- START HEADER-->
        <header th:replace="layout/fragmentDashServ :: barrasuperior">
        </header>
        <!-- END HEADER-->

        <!-- START SIDEBAR-->
        <nav th:replace="layout/fragmentDashServ :: barramenu">
        </nav>
        <!-- END SIDEBAR-->

        <div class="content-wrapper">

    <!--AQUI VA EL CONTENIDO DE LA PAGINA--->
        <main>
            <div class="container px-4">
                
                <div class=" alert alert-warning alert-dismissible fade show" role="alert" th:if="${mensaje != null}">
                    <span th:text="${mensaje}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="card mt-3">
                    <div class="card-header adminca-banner text-white">
                        Doctores
                    </div>
                    <div class="card-body">
                        <form th:action="@{/doctores/form}" th:object="${doctores}" method="post">
                            
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Especialidades</label>
                                        <select class="form-select" th:field="*{especialidad.id}" >
                                            <option value="">Seleccione una opción</option>
                                            <option th:each="item: ${listaEspecilidades}" th:value="${item.id}" th:text="${item.nombre}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <label>Nombre del doctor:</label>
                                        <input type="text" th:field="*{nombre}"   placeholder="Ingrese nombre" class="form-control"/>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <label>Edad del Doctor</label>
                                        <input type="text" th:field="*{edad}"  placeholder="Ingrese edad" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-12">
                                        <div class="col-12 text-center">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa-solid fa-floppy-disk"></i> Guardar Datos
                                            </button>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>

                <div class="card mt-5">
                    <div class="card-header">
                        Doctores Registrados
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Especialidad</th>
                                    <th>Nombre</th>
                                    <th>Edad</th>
                                    <th></th>
                                    <th></th>
                                    <tbody>
                                        <tr th:each="item: ${listaDoctores}">
                                            <td th:text="${item.especialidad.nombre}"></td>
                                            <td th:text="${item.nombre}"></td>
                                            <td th:text="${item.edad}"></td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-warning editarDoctor" 
                                                th:data-id="${item.id}" 
                                                th:data-especialidad="${item.especialidad.id}" 
                                                th:data-nombre="${item.nombre}" 
                                                th:data-edad="${item.edad}"> 
                                                    <i class="fa-solid fa-pen-to-square"></i> Editar
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a class="btn btn-danger" th:href="@{/doctores/eliminar/}+ ${item.id}"
                                                onclick="return confirm('¿Desea eliminar el doctor?')">
                                                    <i class="fa-solid fa-trash"></i> Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                      <!-- Modal -->
                        <div class="modal fade" id="modalEditar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header adminca-banner-m text-white">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Doctor</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form method="post" th:action="@{/doctores/form}" th:object="${doctores}">
                                    <input type="hidden" th:field="*{id}"/>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                <label>Especialidades</label>
                                                <select class="form-select" name="especialidad.id" id="cboEspecialidad" >
                                                    <option value="">Seleccione una opción</option>
                                                    <option th:each="item: ${listaEspecilidades}" th:value="${item.id}" th:text="${item.nombre}"></option>
                                                </select>
                                            </div>     
                                        </div>

                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                <label>Nombre del Doctor:</label>
                                        <input type="text" class="form-control" name="nombre" id="txtNombre"/>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                <label>Edad del Doctor:</label>
                                        <input type="text" class="form-control" name="edad" id="txtEdad"/>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
        </main>
        <div th:replace = "layout/fragmentDashServ :: musica"> </div>
      <!-- BEGIN PAGA BACKDROPS-->
      <div class="sidenav-backdrop backdrop"></div>
      <div class="preloader-backdrop">
      <div class="page-preloader">Loading</div>
         
      
      <!-- END PAGA BACKDROPS-->
      <!-- CORE PLUGINS-->
      <div th:replace="layout/fragmentDashServ :: librerias"></div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
      <script th:src="@{/js/doctores.js}" type="text/javascript" ></script>
  </body>
  </html>