<!DOCTYPE html>
<html lang="es">
    <head> 
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Diagnostico & Salud</title>
        <link rel="icon" type="image/icon" th:href="@{/assets/logoicono.ico}">
        <link th:href="@{/css/loginS.css}" rel="stylesheet" />
    </head>

<body class="bg-gradient-primary">

    <div class="wrapper">
        <div class="logo">
            <img th:src="@{/assets/logoicono.ico}">
        </div>
        <div class="text-center mt-4 name">
            Diagnostico & Salud
        </div>
        <br>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" id="userName" placeholder="Usuario">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" id="pwd" placeholder="Contraseña">
            </div>
            <br>
            <a th:href="@{/panel}">Login</a>

        </form>
        <!--
        <div class="text-center fs-6">
            <a href="#">Forget password?</a> or <a href="#">Sign up</a>
        </div>
        -->
    </div>
    <!-- Custom scripts for all pages-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>