<!DOCTYPE html>
<html lang="es">
    <head th:replace = "layout/fragmentos :: cabecera"> </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <nav th:replace = "layout/fragmentos :: barra"> </nav>
            <!-- Begin Hero Section -->
            <section id="hero" class="hero d-flex align-items-center">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-4">
                      <h2 data-aos="fade-up">Conoce más de nosotros</h2>
                      <blockquote data-aos="fade-up" data-aos-delay="100">
                        <p>Te guiamos desde el primer paso en este trámite con el apoyo de los mejores profesionales de la salud y profesores especializados en el rubro con las normativas vigentes de tránsito para una impecable capacitación.</p>
                      </blockquote>            
                    </div>
                  </div>
                </div>
              </section>
           <!-- Header-->    
            <header class="py-2 bg-light">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-10">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">¿Quienes somos?</h1>
                                <p class="lead fw-normal text-muted mb-4">Somos un Centro Médico COMPROMETIDOS con el BIENESTAR de nuestros pacientes, con ese fin nuestras consultas y atenciones son presenciales. Para colaborar con la pronta recuperación de tu salud y la de tu familia. El equipo de profesionales que nos acompaña en esta tarea y comparte esta filosofía de trabajo está integrado por médicos, técnicos de salud y administrativos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section two-->
            <section class="py-2">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imag/nosotros-1.png" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Desde el primer paso</h2>
                            <p class="lead fw-normal text-muted mb-0">Te guiaremos con el apoyo de los mejores profesionales de la salud, nuestro local se encuentran autorizados por el Ministerio de Salud y el Ministerio de Transportes y Comunicaciones.
                            Diagnóstico & Salud Perú es una plataforma diseñada para ti que deseas adquirir por primera vez, revalidar o recategorizar tu licencia de conducir.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <section>
            <!--Cuadros-->
            <section id="features" class="bg-light">
                <br>
                <div class="container px-5 my-2 ">
                    <div class="text-center mb-5 mb-lg-0">
                    </div>
                    <div class="row gx-5 text-center">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <div class="card-body p-4">
                                    <svg  class="bi bi-bullseye m-auto text-primary d-flex py-4" xmlns="http://www.w3.org/2000/svg" width="8rem" height="8rem"  fill="currentColor"  viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                                        <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
                                        <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                    </svg>
                                    <h4 class="text-center my-3">Misión</h4>
                                    <p class="text-muted text-center">Nuestra Misión es brindar a nuestros pacientes la mejor atención de salud, logrando su confianza con el compromiso ético del equipo multidisciplinarios y colaboradores.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <div class="card-body p-4">
                                    <svg class="bi bi-eye-fill m-auto text-primary d-flex py-4" xmlns="http://www.w3.org/2000/svg" width="8rem" height="8rem"  fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                    </svg>
                                    <h4 class="text-center my-3 font-weight-bold">Visión</h4>
                                    <p class="text-muted text-center">Nuestra Visión es ser reconocida como un centro líder de salud en nuestra comunidad, con personal altamente capacitado y motivado.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <div class="card-body p-4">
                                    <svg class="bi bi-gem m-auto text-primary d-flex py-4" xmlns="http://www.w3.org/2000/svg" width="8rem" height="8rem" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z"/>
                                    </svg>
                                    <h4 class="text-center my-3 font-weight-bold">Valores</h4>
                                    <p class="text-muted text-center">Nuestros valores y compromiso para con nuestros pacientes son:
                                        <ul class="text-muted text-center">
                                            <li>Compromiso Ético</li>
                                            <li>Eficiencia</li>
                                            <li>Trabajo en equipo</li>
                                            <li>Liderazgo</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section th:replace = "/layout/fragmentos :: contacto"> </section>
           <!-- <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="cardd" style="width: 80%;">
                            <img src="imag/mision1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h4 class="text-center my-3">Misión</h4>
                              <p class="text-muted text-center">Nuestra Misión es brindar a nuestros pacientes la mejor atención de salud, logrando su confianza con el compromiso ético del equipo multidisciplinarios y colaboradores.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="cardd" style="width: 80%;">
                            <img src="imag/vision1.png" class="card-img-top" alt="..." >
                            <div class="card-body">
                              <h4 class="text-center my-3 font-weight-bold">Visión</h4>
                              <p class="text-muted text-center">Nuestra Visión es ser reconocida como un centro líder de salud en nuestra comunidad, con personal altamente capacitado y motivado.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="cardd" style="width: 80%;">
                            <img src="imag/valores1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              
                              
                            </div>
                          </div>
                    </div>
                </div>
            </div>-->
        </section>
        <div th:replace = "layout/fragmentDashServ :: musica"> </div>
        <footer th:replace = "layout/fragmentos :: piepagina"> </footer>
        <div th:replace = "layout/fragmentos :: librerias"> </div>
    </body>
</html>

