<!DOCTYPE html>
<html lang="es">

<head th:replace="layout/fragmentDashServ :: cabecera">
    
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- START HEADER-->
        <header th:replace="layout/fragmentDashServ :: barrasuperior">
        </header>
        <!-- END HEADER-->

        <!-- START SIDEBAR-->
        <nav th:replace="layout/fragmentDashServ :: barramenu">
        </nav>
        <!-- END SIDEBAR-->

        <div class="content-wrapper">

    <!--AQUI VA EL CONTENIDO DE LA PAGINA--->
    <div class="container px-4">
        <div class="card mt-3">
            <div class="card-header adminca-banner text-white">
                Especialidades
            </div>
            <div class="card-body ">
                <form th:action="@{/panel/especialidad/formulario}" th:object="${especialidad}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Nombre</label>
                            <input th:field="*{nombre}" placeholder="Ingrese nombre" class="form-control" type="text">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Descripcion</label>
                            <input th:field="*{descripcion}" placeholder="Ingrese descripcion" class="form-control" type="text">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa-solid fa-floppy-disk"></i> Guardar especialidad</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                Lista de especialidades
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>                                
                                <th>Descripcion</th>                                
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item: ${listaEspecialidades}">
                                <td th:text="${item.nombre}"></td>                                
                                <td th:text="${item.descripcion}"></td>  
                                <td>
                                    <a th:href="@{/panel/especialidad/editar/}+ ${item.id}" class="btn btn-warning">
                                        <i class="fa-solid fa-pen-to-square"></i>Editar
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/panel/especialidad/eliminar/}+ ${item.id}" onclick="return confirm('Desea eliminar la categoria?') " class="btn btn-danger">
                                        <i class="fa-solid fa-trash"></i> Eliminar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
    <div class="page-preloader">Loading</div>
       
    <!-- END PAGA BACKDROPS-->
    <!-- CORE PLUGINS-->
    <div th:replace="layout/fragmentDashServ :: librerias">
    </div>
</body>

</html>