<!DOCTYPE html>
<html lang="es">

<head th:replace="layout/fragmentDashServ :: cabecera">
    
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- START HEADER-->
        <header th:replace="layout/fragmentDashServ :: barrasuperior">
        </header>
        <!-- END HEADER-->

        <!-- START SIDEBAR-->
        <nav th:replace="layout/fragmentDashServ :: barramenu">
        </nav>
        <!-- END SIDEBAR-->

        <div class="content-wrapper">

    <!--AQUI VA EL CONTENIDO DE LA PAGINA--->

    <div>
        <h1>Servicios a domicilio</h1>
    </div>


    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
    <div class="page-preloader">Loading</div>
       
    <!-- END PAGA BACKDROPS-->
    <!-- CORE PLUGINS-->
    <div th:replace="layout/fragmentDashServ :: librerias">
    </div>
</body>

</html>